.originals-loader-container {
  height: 120px;
  width: 100%;
  background: #0d0d0d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.originals-failed-view {
  height: 120px;
  width: 100%;
  background: #0d0d0d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.originals-error-msg {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.originals-try-again-button {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #171f46;
  width: 69px;
  height: 24px;
  background: #ffffff;
  border-radius: 4px;
  border-style: none;
}
@media screen and (min-width: 768px) {
  .originals-loader-container {
    height: 180px;
    width: 100%;
    background: #0d0d0d;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
